*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(30deg, #1d0226, #31023d);
    position: relative;
    color: white;
}
.container{
    width: 600px;
    height:150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 254, 255, 0.11);
    backdrop-filter: blur(60px);
}
.clock span{
    width:110px;
    font-size: 80px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size:16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content:'MINS';
}
#sec::after{
    content: 'SEC';
}