body{
    background: linear-gradient( rgb(133, 127, 129));
}
#carousel {
    width: 1400px;
    height: 600px;
    overflow: hidden;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    position: relative;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prebtn,
#nextbtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    opacity: 0.7;
}
#prebtn:hover , #nextbtn:hover{
    opacity: 1;
}
#prebtn{
    font-size: 2rem;
    left: 10px;
}
#nextbtn{
    right:10px;
    font-size: 2rem;
}