* {
    margin: 0;
    padding: 0;
   /* background: linear-gradient(30deg, #1d0226, #31023d); */
    box-sizing: border-box;
}
body{
     /* background: linear-gradient(30deg, #807c82, #e9dcec); */
     
    background: linear-gradient(45deg, #eee3f4, #e3a6f1);
}

#content {
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0;
}
.box {
    margin-bottom: 60px;
    /* background-color: rgb(195, 188, 188); */
    border: none;
    width: 400px;
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.heading {
    display: flex;
    color: rgb(28, 5, 122);;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}
#input-form label{
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
    color:#37426e;
    font-size: 1.3rem;
}
#input-form input{
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
}
#cal-btn{
    border: none;
    border-radius: 5px;
    background-color:rgb(28, 5, 122);
    color: white;
    padding: 10px 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
}
#cal-btn:hover{
    background-color: rgb(10, 14, 248);
}
#result{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #ac4747;
}